body {
	font-family: sans-serif;
	font-size: medium;
	background-color: white;
}
#box {
	margin: 10px auto;
	width: 500px;
}
#title {
	float: left;
	width: 300px;
	font-weight: bold;
}
#title a {
	color: inherit;
}
#language {
	float: left;
	width: 200px;
	text-align: right;
}
#clear {
	clear: left;
}
h1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: x-large;
	font-weight: bold;
	border-bottom: 1px solid;
}
h3 {
	font-size: large;
	font-weight: bold;
}
p {
	font-size: medium;
}
em {
	font-style: normal;
	font-weight: bold;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}
th, tr, td {
	font-size: medium;
	border: 1px solid;
	padding: 2px 5px 2px 5px;
	text-align: center;
}

ul {
	font-size: small;
}

img.left {
	float: left;
	margin-right: 10px;
}
img.right {
	float: right;
	margin-left: 10px;
}
img.center {
	display: block;
	margin: 10px auto 10px auto;
}

#canvasdiv {
	text-align: center;
}
#canvas {
	display:inline;
}